# 1. Configuration Pinecone (Base vectorielle)
PINECONE_API_KEY="votre_cle_api_pinecone_ici"
PINECONE_INDEX_NAME="smart-meeting-index"

# 2. Configuration AWS (Optionnel si déployé sur AWS, requis pour le local)
AWS_ACCESS_KEY_ID="votre_access_key_aws"
AWS_SECRET_ACCESS_KEY="votre_secret_key_aws"
AWS_DEFAULT_REGION="us-east-1"

# 3. Noms des ressources Cloud (Générés par Terraform)
S3_BUCKET_NAME="votre_nom_de_bucket_audio"
DYNAMODB_TABLE="FeedbackStore"
API_BASE_URL="url_de_votre_api_gateway"